<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ hibernate.cfg.xml
  ~ Copyright by Nguyen Duc Bao
  ~ Created on 5 - 5 - 2023 (mm-dd-yyyy)
  -->

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLServer2016Dialect</property>
        <property name="use_sql_comments">true</property>
        <property name="connection.url">
            jdbc:sqlserver://localhost:1433;databaseName=testdb;trustServerCertificate=true
        </property>
        <property name="connection.username">sa</property>
        <property name="connection.password">abcd1234</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example.Entity.Product"/>
        <mapping class="org.example.Entity.Category"/>
        <mapping class="org.example.Entity.Order"/>
        <mapping class="org.example.Entity.ProductDetail"/>
    </session-factory>
</hibernate-configuration>